<!DOCTYPE html> 
<html> 
<link rel="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
<head> 
	<title>HTML Calculator</title> 
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- For styling -->
	<style> 
		table { 
			border: 1px solid black; 
			margin-left: auto; 
			margin-right: auto; 
		} 
		
		input[type="button"] { 
			width: 100%; 
			padding: 20px 40px; 
			background-color: green; 
			color: white; 
			font-size: 24px; 
			font-weight: bold; 
			border: none; 
			border-radius: 5px; 
		} 
		
		input[type="text"] { 
			padding: 20px 30px; 
			font-size: 24px; 
			font-weight: bold; 
			border: none; 
			border-radius: 5px; 
			border: 2px solid black; 
		} 
	</style> 
</head> 

<body> 
	
	<!-- Create table -->
	<table id="calcu"> 
		
		<tr> 
			
			<td colspan="7">
				<canvas id="myCanvas" width="550" height="30" style="border:2px solid;"> 
					<button>&#10006;</button> <button><i class="fa fa-window-minimize"></i></button> <br>
				</canvas> 
				<br>	  
					  
				
				<input type="text" id="result" [(ngModel)]="display"> 
				
			</td> 
		</tr> 
      <h1 align="center">Calculator:</h1>
	  
		<tr> 
			
			<td><input type="button" value="7" (click)="numClick(7)"></td> 
			<td><input type="button" value="8" (click)="numClick(8)"></td> 
			<td><input type="button" value="9" (click)="numClick(9)"></td> 
			<td><input type="button" value="*" (click)="oper(*)"></td>
			
			
		</tr> 
		<tr>  
			<td><input type="button" value="4" (click)="numClick(4)"></td> 
			<td><input type="button" value="5" (click)="numClick(5)"></td> 
			<td><input type="button" value="6" (click)="numClick(6)"></td> 
			
		</tr> 
		<tr> 
			<td><input type="button" value="1" (click)="numClick(1)"></td>
			<td><input type="button" value="2" (click)="numClick(2)"></td> 
			<td><input type="button" value="3" (click)="numClick(3)"></td> 
			<td><input type="button" value="-"></td> 
     		 <td><input type="button" value="Root"></td> 
      
		</tr> 
		<tr> 
			<td><input type="button" value="0"></td> 
			<td><input type="button" value="."></td> 
			<td><input type="button" value="="></td> 
			<td><input type="button" value="+"></td> 
      
		</tr> 
	</table> 
</body> 

</html> 
